<header>
    <div id="headerBox" class="d-flex flex-column align-items-center bg-white">
        <a href="./#/home" class="imgBox w-100 text-left text-md-left pl-4">
            <img src="assets/image/E.Leclerc.svg" width="134" class="mt-2" />
        </a>
        <div class="row homeTxtBox1 pt-1 d-bock d-md-none">
            <div class="col-1 text-center m-0 p-0 pt-2">
                <img src="assets/image/interfaces/Carte.svg" width="38" />
            </div>
            <div class="col-11 text-center homeTxtBox1-txt">
                Offre réservée aux porteurs de la carte E.Leclerc
            </div>
        </div>
        <div class="row homeTxtBox1 pt-1 d-none d-md-inline-flex">
            <div class="col-6 col-md-5"></div>
            <div class="col-2  m-0 p-0 pt-2 pr-4 pl-2 text-right">
                <img src="assets/image/interfaces/Carte.svg" width="38" />
            </div>
            <div class="col-4 col-md-5 homeTxtBox1-txt">
                Offre réservée aux porteurs de la carte E.Leclerc
            </div>
        </div>
    </div>
</header>