<app-header></app-header>
<main role="main">
    <router-outlet></router-outlet>
</main>

<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
    <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
        <i class="fa fa-chevron-up" ></i>
    </button>
</div>

<div class="modal bottom fade" id="errorModal" tabindex="-1" role="dialog"
    aria-labelledby="addProdutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content reductionModalWidth">
            <div class="modal-header border-0 text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button> 
            </div>
            <div class="modal-body p-0">
                <div class="row">
                    <div class=" col-10 offset-1 text-center">
                        <div class="warningIconBox">
                            <div class="warningIcon">
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="font-weight-light text-center col-10 offset-1 mt-3 mb-3">
                    Nous sommes désolés, le service est momentanément indisponible.
                </h4>
                
                <div class="footerTxt col-10 offset-1 text-center font-weight-bold blueTxt">
                    Merci de réessayer ultérieurement
                </div>
            </div>
            <div class="modal-footer border-0">
                <div class="col-12 text-center">
                    <button type="button" data-toggle="modal" data-target="#errorModal"
                        class="btn btn-primary vignetteBtn" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>
  